<!-- sidebar -->
<div class="sidebar">
  <!-- Search Widget -->
  <div class="widget search-widget">
    <form action="#">
      <input type="text" placeholder="Search here">
      <button type="button"><i class="far fa-search"></i></button>
    </form>
  </div>
  <!-- Cat Widget -->
  <div class="widget cat-widget">
    <h4 class="widget-title">Subjects</h4>

    <ul>
      <li>
        <a href="javascript:void(0)">Financial Planning <span><i class="far fa-angle-right"></i></span></a>
      </li>
      <li>
        <a href="javascript:void(0)">Relationship Buildup <span><i class="far fa-angle-right"></i></span></a>
      </li>
      <li>
        <a href="javascript:void(0)">Investement Planning <span><i class="far fa-angle-right"></i></span></a>
      </li>
      <li>
        <a href="javascript:void(0)">Marketing Strategy <span><i class="far fa-angle-right"></i></span></a>
      </li>
      <li>
        <a href="javascript:void(0)">Product Strategy <span><i class="far fa-angle-right"></i></span></a>
      </li>
    </ul>
  </div>
  <!-- Recent Post Widget -->
  <!-- Popular Tag Widget -->
  <div class="widget popular-tag-widget">
    <h4 class="widget-title">Popular Subjects</h4>
    <div class="tags-loop">
      <a href="javascript:void(0)">Business</a>
      <a href="javascript:void(0)">Corporate</a>
      <a href="javascript:void(0)">HTML</a>
      <a href="javascript:void(0)">Finance</a>
      <a href="javascript:void(0)">Investment</a>
      <a href="javascript:void(0)">CSS</a>
      <a href="javascript:void(0)">Planing</a>
      <a href="javascript:void(0)">Creative</a>
    </div>
  </div>

  <!-- CTA Widget -->
  <div class="widget cta-widget" style="background-image: url(assets/img/sidebar/cta.jpg);">
    <h4 class="title">Contact Us for help</h4>
    <a href="javascript:void(0)" class="main-btn">Send Message</a>
  </div>
</div>
